################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/XAMARIN1/v16
/.vs
/MovieDBApp/.vs/MovieDBApp/v16
